$xs-max: 575px;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// Small devices
@mixin xs {
  @media (max-width: #{$xs-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$xl-min}) {
    @content;
  }
}
