$main-color: #5dc1d8;

$shadow-color: #7777770d;

$text-color: #98b3b3;

$main-shadow: 0 10px 6px -6px $shadow-color;

$secondary-color: #edffb8;

$error-color: #ff292996;

$error-color-light: #f56b6b36;
